{% extends 'base/index.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/libs/chartjs/dist/chart.js' %}"></script>
<script src="{% static 'js/libs/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script
	src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'js/libs/daterangepicker/daterangepicker.css' %}">

<div class="header">
	<div class="item">
		<h1><a href="/">Resonance Streaming Stats</a></h1>
	</div>
	<div class="item">
		<form method="GET" action="/">
			{% for field in form.hidden_fields %}
			{{ field }}
			{% endfor %}
			<div>
				{% for field in form.visible_fields %}
				<div class="cell">
					<label>{{ field.label }}</label>
					<div class="{{ field.field.widget.input_type }}">
						{{ field }}
						{% if field.field.widget.input_type == "select" %}
						<span class="select-icon">&#9660;</span>
						{% endif %}
					</div>
				</div>
				{% if forloop.counter == 4 %}
			</div>
			<div>
				{% endif %}
				{% endfor %}
			</div>
		</form>
	</div>
	<div class="item">
		<div class="info">
			<div class="legend-container">
				<div id="legend"></div>
			</div>
			<div>
				<div id="live"></div>
				<p id="restart" class="upper">Restart streams</p>
				<p class="upper"><a href="/logout/?next=/">Log out</a></p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="cell">
		<div class="canvas"><canvas id="listenerCount" data-name="Listener count"></canvas></div>
		<div class="overlay">
			<div class="loader"></div>
		</div>
	</div>
	<div class="cell">
		<div class="canvas"><canvas id="listenerHours" data-name="Listener hours"></canvas></div>
		<div class="overlay">
			<div class="loader"></div>
		</div>
	</div>
	<div class="cell">
		<div class="canvas"><canvas id="browser" data-name="Browser"></canvas></div>
		<div class="overlay">
			<div class="loader"></div>
		</div>
	</div>
	<div class="cell">
		<div class="canvas"><canvas id="countries" data-name="Countries"></canvas></div>
		<div class="overlay">
			<div class="loader"></div>
		</div>
	</div>
	<div class="cell">
		<div class="canvas"><canvas id="referer" data-name="Referrals"></canvas></div>
		<div class="overlay">
			<div class="loader"></div>
		</div>
	</div>
	<div class="cell">
		<div class="canvas"><canvas id="sources" data-name="Sources"></canvas></div>
		<div class="overlay">
			<div class="loader"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var period = '{{request.GET.period}}' || '{{min_date}}' + ' - ' + '{{max_date}}';
	var start = period.split(' - ')[0];
	var end = period.split(' - ')[1];
	var countTotals = [];

	$('#id_datepicker').daterangepicker({
		showDropdowns: true,
		maxSpan: {
			"years": 10,
		},
		timePicker: true,
		timePickerIncrement: 60,
		locale: {
			format: 'YYYY/MM/DD HH:mm'
		},
		ranges: {
			'Today': [moment().startOf('day'), moment()],
			'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment().startOf('day')],
			'Last 7 Days': [moment().subtract(7, 'days').startOf('day'), moment().startOf('day')],
			'Last 30 Days': [moment().subtract(30, 'days').startOf('day'), moment().startOf('day')],
			'This Month': [moment().startOf('month'), moment().add(1, 'month').startOf('month')],
			'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().startOf('month')],
			'This Month Last Year': [moment().startOf('month').subtract(1, 'year'), moment().subtract(1, 'year')],
			'This Year': [moment().startOf('year'), moment()],
			'This Year Last Year': [moment().startOf('year').subtract(1, 'year'), moment().subtract(1, 'year')],
		},
		alwaysShowCalendars: true,
		startDate: period.split(' - ')[0],
		endDate: period.split(' - ')[1],
		minDate: '{{min_date}}',
		maxDate: '{{max_date}}',
	}, function (start, end, label) {
		$('#id_period_0').val(start.format());
		$('#id_period_1').val(end.format());
		getData();
	});
	$('#id_datepicker').on('show.daterangepicker', function (e, datepicker) {
		$(datepicker.container).find('.minuteselect').hide();
	});

	$('input[name^="timepicker"]').daterangepicker({
		singleDatePicker: true,
		timePicker: true,
		timePickerIncrement: 15,
		timePicker24Hour: false,
		locale: {
			format: 'HH:mm'
		},
	})
	$('input[name^="timepicker"]').on('show.daterangepicker', function (e, datepicker) {
		$(datepicker.container).find('.calendar-table').hide();
	});

	function graphClickEvent(event, array) {
		if (array[0]) {
			var index = array[0].index;
			var start = array[0].element.$context.raw.x;
			var data = event.chart.data.datasets[0].data;

			if (index < (data.length - 1)) {
				var end = data[index + 1].x;
			} else {
				var diff = data[index].x - data[index - 1].x;
				var end = moment(data[index].x).add(diff, 'ms').toDate();
			}
			if (end - start > 900000) { // 15 minutes minimum interval
				$('#id_period_0').val(start.toISOString());
				$('#id_period_1').val(end.toISOString());
				getData();
			}
		}
	}

	const verticalBarChartConfig = {
		type: 'bar',
		options: {
			plugins: {
				title: {
					text: (e) => {
						return e.chart.canvas.getAttribute('data-name');
					}
				},
				tooltip: {
					mode: 'x',
					callbacks: verticalChartCallbacks,
				},
				htmlLegend: {
					// ID of the container to put the legend in
					containerID: 'legend',
				},
			},
			scales: {
				x: {
					stacked: true,
					offset: true,
					ticks: {
						source: 'labels'
					},
				},
				y: {
					stacked: true,
					ticks: {
						precision: 0,
					},
				}
			},
			onHover: (e, el) => {
				$('#'+e.chart.canvas.id).css("cursor", el[0] ? "pointer" : "default");
			},
			onClick: graphClickEvent,
		},
	}
	
	var listenerCountId = document.getElementById('listenerCount').getContext('2d');
	const listenerCountChart = new Chart(listenerCountId, {
		...verticalBarChartConfig,
		plugins: [htmlLegendPlugin],
	})
						
	var listenerHoursId = document.getElementById('listenerHours').getContext('2d');
	const listenerHoursChart = new Chart(listenerHoursId, verticalBarChartConfig);

	var browserId = document.getElementById('browser').getContext('2d');
	const browserChart = new Chart(browserId, {
		type: 'doughnut',
		data: {
			datasets: [{
				backgroundColor: colours,
				borderColor: colours,
			}],
		},
		options: {
			plugins: {
				title: {
					text: 'Browser',
				},
				legend: {
					display: true,
					labels: {
						font: {
							size: 10,
						},
					},
				},
			},
		}
	});

	var countriesId = document.getElementById('countries').getContext('2d');

	const countriesChart = new Chart(countriesId, {
		type: 'bar',
		data: {
			datasets: [{
				backgroundColor: colours,
				borderColor: colours,
			}],
		},
		options: {
			plugins: {
				title: {
					text: 'Countries',
				},
				tooltip: {
					callbacks: {
						title: (context) => {
							var index = context[0].dataIndex;
							return context[0].chart.data.countries[index];
							},
						...horizontalChartCallbacks,
					},
				},
			},
			indexAxis: 'y',
			scales: {
				x: {
					ticks: {
						precision: 0,
					},
				},
				y: {
					ticks: {
						font: {
							size: 14,
						}
					}
				}
			},
		}
	});

	var refererId = document.getElementById('referer').getContext('2d');
	const refererChart = new Chart(refererId, {
		type: 'bar',
		data: {
			datasets: [{
				backgroundColor: colours,
				borderColor: colours,
			}],
		},
		options: {
			plugins: {
				title: {
					text: 'Referrals',
				},
				tooltip: {
					callbacks: horizontalChartCallbacks,
				},
			},
			indexAxis: 'y',
			scales: {
				x: {
					ticks: {
						precision: 0,
					},
				},
			},
		}
	});

	var sourcesId = document.getElementById('sources').getContext('2d');
	const sourcesChart = new Chart(sourcesId, {
		type: 'line',
		options: {
			plugins: {
				title: {
					text: 'Sources',
				},
			},
			scales: {
				x: {
					type: 'time',
				},
				y: {
					ticks: {
						precision: 0,
					},
				}
			},
		},
	})

	const charts = [listenerCountChart, listenerHoursChart, sourcesChart];

	function parseVerticalBarChartData(chart, json) {
		var datasets = [];
		var streams = Array.from(new Set(json.results.map(function (e) { return e['stream'] })));
		var periods = Array.from(new Set(json.results.map(function (e) { return e['period'] })));

		$.each(streams, function (stream_index, stream) {
			var data = [];
			$.each(periods, function (period_index, period) {
				data.push({
					x: new Date(period),
					y: json.results.filter(function (e) {
						return e.stream === stream && e.period === period
					}).map(function (e) {
						return e.count
					})[0] || 0
				})
			});
			datasets.push({
				label: stream,
				backgroundColor: colours[stream_index],
				borderColor: colours[stream_index],
				data: data,
			})
		})

		chart.data.datasets = datasets;

		var hours = new Set(periods.map((period) => {
			return new Date(period).getHours();
		}))
		var minutes = new Set(periods.map((period) => {
			return new Date(period).getMinutes();
		}))
		if (hours.size == 1 && minutes.size == 1) {
			chart.data.labels = periods.map((period) => {
				var date = new Date(period);
				return moment(date).format("D MMM")
			});
		} else if (minutes.size == 1) {
			chart.data.labels = periods.map((period) => {
				var date = new Date(period);
				return moment(date).format('ha')
			});
		} else {
			chart.data.labels = periods.map((period) => {
				var date = new Date(period);
				return moment(date).format('h:mma')
			});
		}
		chart.update();
		updateTitle(chart);
		$(chart.canvas).parent().siblings().fadeOut('fast')
	}

	function getCount(data) {
		$(listenerCountChart.canvas).parent().siblings().fadeIn('fast')
		$.get('/listener/count/', data, function (json) {
			countTotals = json.totals;
			parseVerticalBarChartData(listenerCountChart, json);

			var start = moment(json.period.start).format('YYYY/MM/DD HH');
			var end = moment(json.period.end).format('YYYY/MM/DD HH');
			$('#id_datepicker').data('daterangepicker').setStartDate(start);
			$('#id_datepicker').data('daterangepicker').setEndDate(end);

			$(listenerCountChart.canvas).parent().siblings().fadeOut('fast')
		});
	}

	function getHours(data) {
		$(listenerHoursChart.canvas).parent().siblings().fadeIn('fast')
		$.get('/listener/hours/', data, function (json) {
			parseVerticalBarChartData(listenerHoursChart, json);
		});
	}

	function getBrowsers(data) {
		$(browserChart.canvas).parent().siblings().fadeIn('fast')
		$.get('/useragent/browsers/', data, function (json) {
			var data = json.results.slice(0, colours.length).map(function (e) { return e.count });
			var labels = json.results.slice(0, colours.length).map(function (e) { return e.family });
			browserChart.data.datasets[0].data = data;
			browserChart.data.labels = labels;
			browserChart.update();
			$(browserChart.canvas).parent().siblings().fadeOut('fast')
		});
	}

	function getCountries(data) {
		$(countriesChart.canvas).parent().siblings().fadeIn('fast')
		$.get('/listener/countries/', data, function (json) {
			var data = json.results.slice(0, colours.length).map(function (e) { return e.count });
			var labels = [];
			$.each(json.results.slice(0, colours.length), function (i, result) {
				label = result.country.toUpperCase().replace(
					/./g, char => String.fromCodePoint(char.charCodeAt(0) + 127397)
				);
				labels.push(label);
			});
			countriesChart.data.datasets[0].data = data;
			countriesChart.data.labels = labels;
			countriesChart.data.total = json['total'];
			var title = countriesChart.options.plugins.title.text.split(':')[0] + ': ' + parseFloat(json['distinct']);
			countriesChart.options.plugins.title.text = title;
			countriesChart.data.countries = json.results.map(function (e) { return e.name });
			countriesChart.update();
			$(countriesChart.canvas).parent().siblings().fadeOut('fast');
		});
	}

	function getReferers(data) {
		$(refererChart.canvas).parent().siblings().fadeIn('fast')
		$.get('/listener/referer/', data, function (json) {
			var data = json.results.slice(0, colours.length).map(function (e) { return e.count });
			var labels = json.results.slice(0, colours.length).map(function (e) { return e.domain });
			refererChart.data.datasets[0].data = data;
			refererChart.data.labels = labels;
			refererChart.data.total = json['total'];
			var title = refererChart.options.plugins.title.text.split(':')[0] + ': ' + parseFloat(json['total']) + ' / Direct: ' + parseFloat(json['direct']);
			refererChart.options.plugins.title.text = title;
			refererChart.update();
			$(refererChart.canvas).parent().siblings().fadeOut('fast')
			var domains = json.results.map(function (e) { return e.domain; });
			var queryString = window.location.search;
			var urlParams = new URLSearchParams(queryString);
			var referrer = urlParams.get('referrer');
			$('#id_referrer').empty();
			$('#id_referrer').append('<option value="">---------</option>');
			$.each(domains.sort(), function (index, domain) {
				if (domain == referrer) {
					$('#id_referrer').append('<option value=' + referrer + ' selected>' + referrer + '</option>');
				} else {
					$('#id_referrer').append('<option value=' + domain + '>' + domain + '</option>');
				}
			});
		});
	}

	function getSources(data) {
		$(sourcesChart.canvas).parent().siblings().fadeIn('fast')
		$.get('/source/connections/', data, function (json) {
			$.each(json.results, function (index, stream) {
				json.results[index].borderColor = colours[index];
				json.results[index].stepped = true;
			})
			sourcesChart.data.datasets = json.results;
			sourcesChart.update();
			$(sourcesChart.canvas).parent().siblings().fadeOut('fast');
		});
	}

	function updateTitle(chart) {
		var total = 0;

		$.each(chart.data.datasets, function (e, dataset) {
			if (chart.isDatasetVisible(e)) {
				if (chart.canvas.id === 'listenerCount') {
					total += countTotals.filter(function (e) {
						return e.stream === dataset.label
					})[0].count
				} else {
					total += parseFloat(dataset.data.map(function (e) {
						return e.y
					}).reduce(function (total, num) {
						return parseFloat(total) + parseFloat(num);
					}))
				}
			}
		});

		var title = chart.options.plugins.title.text.split(':')[0] + ': ' + parseFloat(total.toFixed(2));
		chart.options.plugins.title.text = title
		chart.update();
	}

	function getLiveListeners() {
		$.get('/live/', function (json) {
			$('#live').html('<ul></ul>');
			$.each(json, function (station, listeners) {
				$('#live').find('ul').append('<li>' + station + ': ' + listeners + '</li>');
			})
		});
	}

	function getData(params) {
		if (!(params)) {
			params = $("form *:not([class=exclude]").filter(function (index, element) {
				return $(element).val() != '';
			}).serialize();
		}
		window.history.pushState("object or string", "Title", "?" + params)

		getCount(params);
		getHours(params);
		getBrowsers(params);
		getCountries(params);
		getReferers(params);
		getSources(params);
	}

	function timeSlotsPopulated() {
		var nonEmptyItems = $('input[id^="id_slot_"]').filter(function () {
			return this.value != '';
		})
		if (nonEmptyItems.length == 2) {
			return true;
		}
	}

	$(document).ready(function () {
		$('#id_dow').change(function () {
			if ($(this).val() == '') {
				$('input[id^="id_timepicker"').val('');
				$('input[id^="id_slot"').val('');
				$('#id_dom, input[name^="timepicker"').prop('disabled', true).closest('.cell').addClass('disabled');
				getData();
			} else {
				$('#id_dom, input[name^="timepicker"').prop('disabled', false).closest('.cell').removeClass('disabled');
				if (timeSlotsPopulated()) { getData(); }
			}
		}).change();
		$('#id_dom').change(function () {
			$('#id_dow span').toggle($(this).val() > 0);
			if (timeSlotsPopulated()) { getData(); }
		}).change();
		var params = window.location.search.substr(1);
		getData(params);
		getLiveListeners();
		setInterval(function () { getLiveListeners(); }, 30000);
	});

	$('input[name^="timepicker"]').on('apply.daterangepicker', function () {
		$('#' + this.id.replace('timepicker', 'slot')).val(this.value);
		if (timeSlotsPopulated()) { getData(); }
	});
	$('#id_station, #id_region, #id_referrer').change(function () {
		getData();
	});

	$('#restart').on('click', function (e) {
		if (confirm("Are you sure you want to restart the streams? This will kick all the listeners off and they will need to reconnect!")) {
			$.ajax({
				url: '/restart/',
				method: 'POST',
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
			});
		}
	});
</script>

{% endblock %}