{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Resonance Streaming Stats</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v0.1">
</head>

<body {% if request.path == "/login/" %}class="login"{% endif %}>
	{% block content %}
	{% endblock %}
</body>
</html>